<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'user/userindex.html' %}
{% block body %}
<head><style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #000000;}*/

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000000;
  color: white;
}
</style></head>
<body>
<form id="form1" name="form1" method="post" action="searchservices#about">
  <table class="table table-hover">
    <tr>
      <td>SERVICE</td>
      <td><label>
        <select name="select">
          {% for i in val2 %}
          <option value="{{i.id}}" {% if i.id == val3 %} selected {% endif %} >{{i.servicename}}</option>
          {% endfor %}
        </select>
      </label></td>
      <td><label>
        <input type="submit" name="Submit" value="SEARCH"  class="btn btn-info"/>
      </label></td>
    </tr>
  </table>
  <table id="customers">
    <tr>
      <th>NAME</th>
      <th>DESCRIPTION</th>
      <th>DOCUMENT</th>
      <th>AMOUNT</th>
      <th>&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i.servicename}}</td>
      <td>{{i.description}}</td>
      <td>{{i.documents}}</td>
      <td>{{i.amount}}</td>
      <td><a href="{% url 'applyservice' id=i.id %}#about" class="btn btn-info">APPLY</a></td>
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
<!--</html>-->
