<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'user/userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="298" border="1">
    <tr>
      <td width="68">SERVICE NAME </td>
      <td width="58">STATUS</td>
      <td width="150">UPLOADED DOCUMENTS </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="viewuploads">VIEW DOCUMENTS</a></td>
    </tr>
  </table>
</form>
</body>{% endblock %}
<!--</html>-->
