<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'admin/adminindex.html' %}
{% block body %}
<head><style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #000000;}*/

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000000;
  color: white;
}
</style></head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table id="customers">
    <tr>
      <th>SERVICE NAME </th>
      <th>&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i.serviceid.servicename}}</td>
      <td><a href="{% url 'viewmorestatusadmin' id=i.id %}#about" class="btn btn-info">VIEW MORE</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
